/* Benjamin Pritchard */

/*** General ***/
html {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(-45deg, #003f2f, #29816e, #319480, #064d3a);
  background-size: 300% 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif;
}
/*** Header ***/
header {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  display: inline-block;
  color: black;
  font-size: 300%;
  padding-left: 0;
  font-family: 'Source Code Pro', monospace;
}
/*** Navigation ***/
.nav {
  margin: 0;
  padding: 0;
  float: right;
}
.nav li{
  display: inline-block;
  padding: 10px;
}
nav a {
  text-decoration: none;
  color: black;
  padding: 20px;
  font-size: 20px;
}
nav a:hover {
  transition: 0.5s;
  color: white;
  text-shadow: -2px 5px black;
}
@media screen and (max-width: 1210px){
  .nav li {
    display: block;
  }
}
/*** About ***/
#about {
  margin: 0 auto;
  width: 40%;
  padding: 30px 10px 20px;
  text-align: center;
  font-size: 150%;
}
@media screen and (max-width:700px) {
  #about {
    width: 60%;
  }
}
/*** Projects ***/
.project-head {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
  font-size: 200%;
}
.content {
  display: grid;
  padding: 30px;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}
.content section {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.content section img {
  width: 300px;
  height: 170px;
  border: 2px solid black;
  box-shadow: 5px -5px rgba(0, 0, 0, 0.575);
}
@media screen and (max-width: 1200px) {
  .content {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 800px) {
  .content {
    grid-template-columns: auto;
  }
  .content section {
    width: 90%;
  }
}
/*** Footer ***/
footer {
  text-align: center;
  font-weight: bold;
  padding: 70px 5px 10px;
}
#social a img {
  height: 37px;
  padding: 5px 10px;
}
#social a img#twitter {
  height: 41px;
}
